body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    margin-bottom: 40px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

#imagens-cultura img {
    border-radius: 10px;
}

.cultura-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

